.system {
    padding: 2.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .round-button {
        background-color: #3c3836;
        color: #ebdbb2;
        border-radius: 50%;
        padding: 12px;
        box-shadow: none;
        border: none;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: #504945;
        }

        image {
            -gtk-icon-size: 24px;
        }
    }
}