.system-container {

    button {
        background: none;
        box-shadow: none;
        border: none;
        font-size: 28px;
        padding: 5px;
        margin: 0px;
        color: white;
    }

    .btn-1 {
        margin-right: 80px;
        font-size: 24px;
    }
    .btn-2 {
        font-size: 36px;
    }
    .btn-3 {
        margin-left: 80px;
    }
}