.system-container {

    button {
        background: none;
        box-shadow: none;
        border: none;
        font-size: 28px;
        padding: 5px;
        margin: 0px;

        .system-icon {
            color: white;
        }
    }

    .btn-1 {
        margin-right: 80px;
    }
    .btn-3 {
        margin-left: 80px;
    }
}