.art-container {
    padding: 0px;
    margin: 0px;
    margin-top: -10px;

    .art-icon {
        font-size: 230px;
        margin: 0px;
        margin-right: -230px;
        border-radius: $bd-radius;
    }
}