/* https://github.com/morhetz/gruvbox */
$bg-dark: #{"#282828"};
$bg-dark-shade: #{"#1d2021"};
$fg-dark: #{"#ebdbb2"};
$red-dark: #{"#cc241d"};
$green-dark: #{"#98971a"};

$bg-light: #{"#fbf1c7"};
$fg-light: #{"#3c3836"};
$fg2-light: #{"#d5c4a1"};

$bd-radius: 10px;

.light {
    background: $bg-light;
    color: $fg-light;
}

.dark {
    background: $bg-dark;
    color: $fg-dark;
}

.tile-container {
    min-width: 120px;
    min-height: 120px;
    border-radius: $bd-radius;
}

.wide-container {
    min-width: 240px;
    min-height: 120px;
    border-radius: $bd-radius;
}

.long-container {
    min-width: 120px; 
    min-height: 240px;
    border-radius: $bd-radius;
}

.Sidebar {
    background: transparent;
    color: $fg-dark;
    font-family: "Sk-Modernist";

    .sidebar-container {
        background: transparent;
        margin: 5px;
        margin-top: 2px;
        padding: 8px;
        color: $fg-dark;
        border-radius: $bd-radius;
    }
}

@import "./time/time.scss";
@import "./audio/audio.scss";
@import "./battery/battery.scss";
@import "./art/art.scss";
@import "./date/date.scss";
@import "./bright/bright.scss";